<div class="side-menu">
  <button class="sidebar-toggle">
    <span class="material-icons menu-open-btn">
      menu
    </span>
  </button>
  <aside class="sidebar">
    <div class="sidebar-header">
      <a href="/">
        <img 
        style="position: initial;"
        class="logo-small"
        src="../assets/images/sas-logo.png" 
        alt="Logo SAS">
      </a>
      <span class="material-icons close-btn">close</span>
    </div>
    <!-- links -->
    <ul class="links">
      <li>
        <a href="/meus-dados">Meus dados</a>
      </li>
      <li>
        <a href="/services">Serviços</a>
      </li>
      <li>
        <a href="">Gerar mailing</a>
      </li>
    </ul>
    <!-- social media -->
    <ul class="social-icons">
      <li>
        <a href="/logout">
          Sair
        </a>
      </li>
    </ul>
  </aside>
</div>
