<!DOCTYPE html>
<html lang="en">
<head>
  <title>404 | Parece que você pegou um caminho que não te leva a lugar algum...</title>

  <%- include('../partials/headTags.ejs') %>

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One:900" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="./assets/css/404.css" />

</head>
<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
			</div>

			<h2>404 - Página não encontrada!</h2>

			<p>A página que você está procurando não existe mais ou nunca existiu!</p>

			<a href="/">HOME</a>
		</div>
	</div>
</body>

</html>
  
</body>
</html>

