<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script defer src='./assets/js/create-user.js'></script>
  <title></title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="../main.css">
</head>

<body>
  <form id="create-user-form">
    <div class="imgcontainer">
      <h1>SAS</h1>
      <hr>
      <h2>Sistema de agendamento de serviços</h2>
    </div>

    <div class="container">
      <label for="fname"><b>Nome fantasia</b></label>
      <input type="text" placeholder="Digite um nome para seu estabelecimento" id="fname" name="fname" required>

      <label for="uname"><b>Nome de usuário</b></label>
      <input type="text" placeholder="Digite seu nome de usuário" id="uname" required>

      <label for="email"><b>E-mail</b></label>
      <input type="email" placeholder="Digite seu e-mail da conta google" id="email" name="email" required>

      <label for="pwd"><b>Senha</b></label>
      <input type="password" placeholder="Digite sua senha" id="pwd" required>

      <label for="pwd"><b>Confirme sua senha</b></label>
      <input type="password" placeholder="Digite sua senha" id="cpwd" required>

      <div class="button-group">
        <button type="submit">Cadastrar</button>
        <button href="/">Voltar</button>
      </div>

    </div>

    <div class="container login-options" style="background-color:#f1f1f1">
    </div>
  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>