<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title>SAS | <%= pageInfo.pageName %></title>

  <%- include('../partials/headTags.ejs') %>

  <script defer src='../assets/js/create-user.js'></script>
  <link rel="stylesheet" href="../assets/css/create-user.css">
</head>

<body>
  <form 
    id="create-user-form"
    class="create-user-form align-self-center">
    <img 
      class="logo mb-3 mx-auto d-block"
      src="../assets/images/sas-logo.png" 
      alt="Logo SAS">
    <h2 class="text-center">Cadastrar usuário</h2>

    <div class="container">
      <div class="mb-3">
        <label 
        for="fantasy-name"
        class="form-label">
          <b>Nome fantasia</b>
        </label>
        <input 
          type="text" 
          class="form-control"
          placeholder="Digite um nome para seu estabelecimento" 
          id="fantasy-name" 
          name="fantasy-name"/>
      </div>

      <div class="mb-3">
        <label 
        for="user-name"
        class="form-label">
        <b>Nome de usuário</b>
      </label>
      <input 
        type="text" 
        class="form-control"
        placeholder="Digite seu nome de usuário" 
        id="user-name"/>
      </div>
      
      <div class="mb-3">
        <label 
        for="email"
        class="form-label">
        <b>E-mail</b>
      </label>
      <input 
        type="email" 
        class="form-control"
        placeholder="Digite seu e-mail da conta google" 
        id="email" 
        name="email"/>
      </div>
      
      <div class="mb-3">
        <label 
        for="password"
        class="form-label">
        <b>Senha</b>
      </label>
      <input 
        type="password" 
        class="form-control"
        placeholder="Digite sua senha" 
        id="password"/>
      </div>
      
      <div class="mb-3">
        <label 
        for="password"
        class="form-label">
        <b>Confirme sua senha</b>
      </label>
      <input 
        type="password" 
        class="form-control"
        placeholder="Digite sua senha" 
        id="confirmation-password"/>
      </div>
      <div class="button-group">
        <button 
          type="submit"
          class="btn btn-success">
          Cadastrar
        </button>
        <a 
          href="/"
          class="btn btn-outline-primary">
          Voltar
        </a>
      </div>
    </div>

    <div 
      class="container login-options" 
      style="background-color:#f1f1f1">
    </div>
  </form>
  
  <%- include('../partials/footer.ejs') %>

</body>

</html>