<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<title>Meus Dados | </title>

	<%- include('../partials/headTags.ejs') %>

	<link href="./assets/css/info.css" rel='stylesheet' />
	<script defer src="./assets/js/info.js"></script>
	<script defer src="../assets/js/app.js"></script>
</head>
<body>
	<div class="container">
		<form 
			id="my-data"
			class="my-data-form align-self-center">
			<h2 class="text-center">Meus dados</h2>
			<div class="input-group mb-3">
				<span class="input-group-text">
					Nome fantasia:
				</span>
				<input 
					type="text" 
					class="form-control"
					value="<%= user.fantasyName %>"
					disabled>
					<span class="material-icons input-group-text edit-btn">
						edit
					</span>
					<span class="material-icons input-group-text save-btn">
						save
					</span>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">
					Nome de usuário:
				</span>
				<input 
					type="text" 
					class="form-control"
					value="<%= user.userName %>"
					disabled>
					<span 
						class="material-icons input-group-text edit-btn">
						edit
					</span>
					<span 
						class="material-icons input-group-text save-btn">
						save
					</span>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">
					E-mail:
				</span>
				<input 
					type="text" 
					class="form-control"
					value="<%= user.email %>"
					disabled>
					<span 
						class="material-icons input-group-text edit-btn">
						edit
					</span>
					<span 
						class="material-icons input-group-text save-btn">
						save
					</span>
			</div>
			<div class="d-grid gap-2">
        <a 
					href="/"
          class="btn btn-primary">
					Voltar para a página principal
				</a>
      </div>
		</form>
	</div>
	<button class="sidebar-toggle">
    <span class="material-icons">
      menu
    </span>
  </button>
  <aside class="sidebar">
    <div class="sidebar-header">
      <h1> </h1>
      <button class="close-btn">
        <span class="material-icons">
          close
        </span>
      </button>
    </div>
    <!-- links -->
    <ul class="links">
      <li>
        <a href="/meus-dados">Meus dados</a>
      </li>
      <li>
        <a href="">Serviços</a>
      </li>
      <li>
        <a href="">Gerar mailing</a>
      </li>
    </ul>
    <!-- social media -->
    <ul class="social-icons">
      <li>
        <a href="/logout">
          Sair
        </a>
      </li>
    </ul>
  </aside>
</body>

</html>