<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>SAS | Sistema de agendamento de serviço</title>

  <%- include('../partials/headTags.ejs') %>

  <script defer src="../assets/js/login.js"></script>
  <link rel="stylesheet" href="./assets/css/login.css">
</head>

<body>
  <div class="container">
    <form 
      id="login-form"
      class="login-form align-self-center">
      <img 
        class="logo-small mb-3 mx-auto d-block "
        src="../assets/images/sas-logo.png" 
        alt="Logo SAS">
      <h3 class="text-center">SAS Calendar</h3>
      
      <div class="d-grid gap-2">
        <a
          class="btn btn-primary" 
          href="/auth/google"
          type="submit">Fazer login com sua conta Google
          <img 
            class="google-logo"
            src="../assets/images/google-logo.png" 
            alt="Logo do Google">
        </a>
        
      </div>
    </form>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>
</html>