<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>SAS | Sistema de agendamento de serviço</title>

  <%- include('../partials/headTags.ejs') %>

  <script defer src="../assets/js/login.js"></script>
  <link rel="stylesheet" href="./assets/css/login.css">
</head>

<body>
  <div class="container">
    <form 
      id="login-form"
      class="login-form align-self-center">
      <img 
        class="logo-small mb-3 mx-auto d-block "
        src="../assets/images/sas-logo.png" 
        alt="Logo SAS">
      <h3 class="text-center">Sistema de agendamento de serviços</h3>
      <div class="mb-3">
        <label 
          for="username" 
          class="form-label">
          Nome</label>
        <input 
          type="text" 
          class="form-control"
          id="uname" 
          aria-describedby="username"
          placeholder="Digite seu nome de usuário">
      </div>
      <div class="mb-3">
        <label 
          for="pwd" 
          class="form-label">
          Senha</label>
        <input 
          type="password" 
          class="form-control" 
          id="pwd"
          placeholder="Digite sua senha">
      </div>
      <span class="float-end">
        Esqueceu a <a href="#">senha?</a></span>
      <div class="mb-3 form-check">
        <input 
          type="checkbox" 
          class="form-check-input" 
          id="remember-pwd">
        <label 
          class="form-check-label" 
          for="remember-pwd">Lembrar minha senha</label>
      </div>
    
      <div class="d-grid gap-2">
        <button 
          class="btn btn-primary" 
          type="submit">Entrar</button>
        <button 
          class="btn btn-success" 
          type="button">
            <a style="color: inherit;" href="/cadastrar-usuario">
              Cadastrar usuário
            </a>
        </button>
      </div>
    </form>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>
</html>