<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('../partials/headTags.ejs') %>

  <title>SAS | <%= pageInfo.pageName %> </title>
</head>
<body>
  <%# Menu lateral %>
  <%- include('../partials/menu.ejs')  %>

  
  <%# Footer %>
  <%- include('../partials/footer.ejs') %>
</body>
</html>