/* Sidebar */
.sidebar-toggle {
  position: fixed;
  top: 50%;
  left: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.sidebar-toggle:hover {
  color: var(--clr-primary-7);
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
}
.close-btn:hover {
  color: var(--clr-red-light);
  transform: rotate(360deg);
}
.logo-small {
  width: 120px;
  height: 120px;
}
.logo-footer {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 64px;
  height: 64px;

  cursor: pointer;
}
.links a {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  margin: auto;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.75rem;
}
.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-1);
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);  
  transform: translate(-100%);

  z-index: 9999999;
  box-shadow: 2px 2px 10px #444;
}
.show-sidebar {
  transform: translate(0);
}

/* Bootstrap alert */
.alert-placeholder {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;

  width: 100vw;
}

.create-service-alert {
  width: 400px;

  z-index:999999;
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
.app-initial-point {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.calendar-name {
  text-align: center;
  padding: 16px;
}
#calendar {
  max-width: 900px;
}